<section class="portada">

    <div class="fondoBlanco">
        <div class="acercaDe">
            <p class="descripcion">Descripcion acercaDe</p>
        </div>

        
    </div>

    <div class="contenedor-secciones">
        <div class="link educacion">
            <h5><strong>EDUACACION</strong></h5>
        </div>
        <div class="link herramientas">
            <h5><strong>HERRAMIENTAS</strong></h5>
        </div>
        <div class="link experiencia">
            <h5><strong>EXPERIENCIA</strong></h5>
        </div>
        <div class="link proyectos">
            <h5><strong>PROYECTOS</strong></h5>
        </div>
    </div>

    <div class="principal">
        <p class="nombre">Carlos A. Mingrone</p>
        <h5 class="ubicacion">Buenos Aires, Argentina.</h5>
    </div>
    <img src= "../assets/imagenes/Imagen.png" class="foto" >

    
</section>